header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #616161;

    img {
        width: 60px;
        height: auto;
    }
}